


body{
    border:2px solid #F7F7F7;
    margin-left:50px;
    margin-right:50px ;
}
section{
    background-color:#F7F7F7;
   
}

span{
    color: #00A5EC;
}
h1{
    height: 30px;
    background-color: white;
    margin-left: 110px;
    
}

.icon{
    color:#00A5EC;
    margin: 10px 5px 10px 1027px;
    font-size:32px ;
    vertical-align: middle;
    color: #00A5EC;
    
}

.new{
    color:#424242 ;
    font: normal normal normal 20px/22px Inter ;
    margin: 5px 10px 10px 5px;
    text-decoration:none;
}

.flexcontainer{
display:flex;
flex-flow: row wrap;
align-content:space-between;
margin: 15px 100px 0px 160px;

}

.childs:hover{
    box-shadow:3px 3px 2px #67676729;
}
 
.childs{
    width: 250px;
    height: 250px;
    border: 1px solid #EDEDED;
    background-color: white;
    border-radius: 10px;
    color: #C2C2C2;
    text-align: left;
    padding: 20px 0px 0px 20px;
    margin: 7px;
    line-height: 40px;
    cursor:pointer; 

}
.trip{
    color:#00A5EC;
    font: normal normal medium 20px/24px Inter;
    
  }

.vi{
    text-decoration: line-through;
    color:#C2C2C2;
}
a{
    text-decoration: none;
}

.text{
    height: 160px;
    width:350px;
    border:1px solid #EDEDED;
    background-color: white;
    margin: auto;
    line-height:40px ;
    position: absolute;
    top: 250px;
    left:450px ;
    padding:20px 5px 0px 10px;
    border-radius: 10px;
    line-height:10px;
    font-weight: bold;
    /* z-index: 12; */
}

button{
    width:120px;
    height:30px;
    background-color: #00A5EC ;
    float:right;
    border-color:#00A5EC ;
    color: white;
    padding-top: 5px 0px 5px 0px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: #00A5EC;
    
}

input[type="text"]{
    width:330px;
    height:30px;
    background-color: #F7F7F7;
    border-color: #EDEDED;
    border: 10px;
}

.crossmark{
    font-size: 20px;
    margin-left:220px;
}


.overlay{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
}

.container2{
   z-index:12 ;
} 


 @media (orientation:portrait) {
    body{
        margin: 0;
      }
      
      h1{
          height: 30px;
          background-color: white;
          margin-left: 90px;
          
      }
      .icon{
          color:#00A5EC;
          margin: 15px 5px 5px 150px;
          font-size:32px ;
          vertical-align: middle;
           
      }
  
      .new{
          visibility: hidden;
      }
      .flexcontainer{
          display:flex;
          flex-flow: row wrap;
          align-content:space-between;
          margin: 15px 10px 0px 39px;
          
      }
  
} 

    

 @media (orientation:portrait) {
    .text{
        width:285px;
        height:200px;
        position: relative;
        left:10px;
        top:-750px;
        
    }
    
    .crossmark{
        font-size:20px;
        margin-left:150px;
    }

    input[type="text"]{
        width:278px;
    }

}



